<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionstrings>
    <add connectionstring="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True" 
         name="conexionBD" 
         providername="System.Data.SqlClient">
    </add>
  </connectionstrings>
</configuration>